.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.HomePage, .AccountPage{
    background-image: url(./images/orangeombre.jpg); 
    height: 100vh;
    width: 100%;
    background-repeat:no-repeat;
    background-size:cover;
}

.Title{
  padding:2%;
  font-size: 3rem;
  font-family: 'Roboto Mono', monospace;
  
}
.Intro{
  margin:8%;
  margin-bottom:0%;
  padding-left:22%;
  padding-right:20%;
  font-size: 2.5rem;
  font-family: 'Roboto Mono', monospace;
}

.Instructions{
  margin-left: 12%;
  padding-left:11%;
  padding-top:2%;
  font-size: 2rem;
  font-family: 'Roboto Mono', monospace;
  display:flex;
  flex-direction:row;
}

.CreateAccountButton{
  display:flex;
  flex-direction:row;
  background-color:black;
  color:white;
  border-radius: 50px;
  font-size: 1.75rem;
  font-family: 'Roboto Mono', monospace;
  margin-left:27%;
  padding:1.5rem 2rem ;
  border: none;
}

.buttons{
  display:flex;
  margin-top:5%;
}

.LoginButton{
  display:flex;
  flex-direction:row;
  background-color:black;
  color:white;
  border-radius: 50px;
  font-size: 1.75rem;
  font-family: 'Roboto Mono', monospace;
  margin-left:3%;
  padding:1.5rem 6.8rem ;
  border: none;
}



.AccountPage{
  display:flex;
  justify-content: space-evenly;
}

.User{
  display:flex;
  flex-direction: column;
}


.title{
  padding-top:20%;
  font-size: 2.5rem;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 10%;
}

.TextBox{
  
  margin-left:-40%;
  font-family: 'Roboto Mono', monospace;
}

.Name{
  margin-left:13%;
  border:none;
  padding:2%;
  padding-right:10%;
}

.Password{
  border:none;
  padding:2%;
  padding-right:10%;
}

.CreateAccountButton2{
  background-color:black;
  color:white;
  border-radius: 50px;
  font-size: 1.75rem;
  font-family: 'Roboto Mono', monospace;
  padding:1rem 2rem ;
  border: none;
  margin-top:20%;
}